body {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  background-color: #d5d6d2;
  color: #353c3f; }

nav {
  display: none;
  background-color: #ff8d3f;
  height: 60px; }

header {
  background-image: url(../images/machine5.png);
  background-size: cover;
  width: 100%;
  height: 30vw;
  background-color: #fff;
  position: relative; }

.logo-shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.8+100 */
  background: -moz-linear-gradient(top, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 );
  /* IE6-9 */ }

footer {
  margin-top: 100px;
  width: 100%;
  background-color: #353c3f;
  color: #fff;
  height: 160px; }

h1, h2, h3, h4, h5 {
  font-family: 'Titillium Web', sans-serif; }

h3 {
  font-weight: 600;
  color: #aa4b41; }

h1 {
  padding: 70px 0 0 0;
  margin: 0;
  position: relative;
  bottom: -13px;
  color: #fff;
  font-size: 76px;
  font-weight: 500;
  text-shadow: -2px -1px #333; }
  h1 span {
    font-size: 33px; }

p {
  font-size: 20px; }

.main h2 {
  position: relative;
  top: 8px;
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: 22px;
  max-width: 264px;
  font-size: 19px;
  font-style: italic; }
  .main h2 span.right {
    float: right; }

.product-box {
  height: 30vw;
  text-align: center;
  text-align: center;
  border-radius: 3px; }
  .product-box .bg {
    background-image: url(../images/brain.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
  .product-box.elearning .bg {
    background-image: url(../images/brain.png); }
  .product-box.apps .bg {
    background-image: url(../images/phone.png); }

.outline {
  border: 1px solid #888; }
